<html>
  <body>
    <h1>login With google</h1>
    <a href="<%= getGoogleOAuthURL() %>">Login with Google</a>
    <h1>login With github</h1>
    <a href="<%= githubAuth() %>">Login with github</a>
    <h1>login With facebook</h1>
    <a href="<%= facebookAuth() %>">Login with facebook</a>
    <h1>login With linkedin</h1>
    <a href="<%= linkedinAuth() %>">Login with linkedin</a>
    <h1>login With telegram</h1>
    <a href="https://t.me/arjit_login_bot?auth_url=https://localhost:3000/auth/telegram">
      <img src="telegram_button.png" alt="Log in with Telegram">
  </a>


  </body>
</html>