<html>
  <body>
    <h1>login With google</h1>
    <a href="<%= getGoogleOAuthURL() %>">Login with Google</a>
    <h1>login With github</h1>
    <a href="<%= githubAuth() %>">Login with github</a>
    <h1>login With facebook</h1>
    <a href="<%= facebookAuth() %>">Login with facebook</a>


  </body>
</html>